<div class="col-12 smaller-banner d-flex flex-column justify-content-end py-3">
  <div class="container">
    <h1>Submit Your Masterpiece!</h1>
  </div>
</div>

<div class="container">

  <div class="my-3">
    <h1>
      <strong>
        <%=@challenge.name%>
      </strong>
    </h1>

  <div class="accordion my-3" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Description
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <%=@challenge.description %>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Spicy Push
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>
    </div>
  </div>

  <%= simple_form_for @user_challenge do |f| %>
    <% if @challenge.category == "Creative Writing" %>
      <div class="my-3">
        <%= f.input :challenge_text, label: "Submit your challenge here..." %>
      </div>
    <% elsif @challenge.category == "Crafting" %>
      <div data-controller="img-preview">
          <%= image_tag "", data: { img_preview_target: "preview" }, class: "img-fluid rounded-3 my-3 px-5" %>

          <%= f.input :photo,
             as: :file,
            required: true,
            input_html: { data: { img_preview_target: "input", action: "change->img-preview#preview" } },
            class: "icon"%>
      </div>
    <% end %>

    <% if @challenge.category == "Creative Writing" %>
      <%= f.submit "Submit challenge", class: "show-button btn btn-lg rounded-pill" %>
    <% else @challenge.category == "Crafting" %>
      <%= f.submit "Let's see what you made", class: "show-button btn btn-lg rounded-pill" %>
    <% end %>
  <% end %>
</div>
