<div class="container">
  <div class="row border">
    <div class="col-12 banner-challenge align-items-center">
      <h1>Let's see what you made</h1>
    </div>
  </div>


  <%= simple_form_for @user_challenge do |f| %>
    <% if @challenge.category == "Creative Writing" %>
      <div>
        <%= f.input :challenge_text %>
      </div>
    <% elsif @challenge.category == "Crafting" %>
      <div data-controller="img-preview">
          <%= image_tag "", data: { img_preview_target: "preview" }, class: "img-fluid rounded-3 my-5 px-5" %>

          <%= f.input :photo,
             as: :file,
            required: true,
            input_html: { data: { img_preview_target: "input", action: "change->img-preview#preview" } },
            class: "icon"%>
      </div>
    <% end %>

    <% if @challenge.category == "Creative Writing" %>
      <%= f.submit "Submit your creation", class: "btn btn-secondary" %>
    <% else @challenge.category == "Crafting" %>
      <%= f.submit "Let's see what you made", class: "btn btn-secondary" %>
    <% end %>
  <% end %>
</div>
