<div class="container">
  <div class="row border">
    <div class="col-12 banner-challenge align-items-center">
      <h1>Let's see what you made</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
        <%= simple_form_for [@challenge, @user_challenge] do |f| %>
        <div>
          <% if @challenge.category == "Creative Writing" %>
            <%= f.input :challenge_text %>
        </div>
        <div class="icon">
          <% else @challenge.category == "Crafting" %>

          <div id="circle" class="">
          </div>

          <div data-controller="upload-photo">
            <%= f.input :photo, as: :file, class: "icon", data: "upload-photo"%>
        </div>
          <% end %>
    </div>
  </div>

  <div class="row">
          <% if @challenge.category == "Creative Writing" %>
            <%= f.submit "Submit your creation", class: "btn btn-secondary" %>
          <% else @challenge.category == "Crafting" %>
            <%= f.submit "Let's see what you made", class: "btn btn-secondary" %>
          <% end %>
      <% end %>
  </div>
</div>
