<div class="container">
  <div class="row border">
    <div class="col-12 banner-challenge align-items-center">
      <h1>Let's see what you made</h1>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
        <%= simple_form_for [@challenge, @user_challenge] do |f| %>
          <% if @challenge.category == "Creative Writing" %>
            <div id="square" data-controller="writing-text" data-writing-text-target="square">
              <%= f.input :challenge_text,
              input_html: {
                id: "writing_text",
                data: {
                  writing_text_target: 'writingText',
                  action:"change->writing-text#text"
                }}, label: false, wrapper: false
            %>
            </div>

        <div class="icon">
          <% else @challenge.category == "Crafting" %>
            <div id="circle" class="" data-controller="upload-photo" data-upload-photo-target="circle">
              <%= f.input :photo, as: :file,
                input_html: {
                  id: 'photo_upload_input',
                  data: {
                    upload_photo_target: 'photoPicker',
                    action:"change->upload-photo#upload"
                }}, label: false
              %>

            <label for="photo_upload_input">
              <p> click me </p>

            </label>

          </div>

          <%# <div>

          </div> %>
        </div>
          <% end %>
    </div>
  </div>

  <div class="row">
          <% if @challenge.category == "Creative Writing" %>
            <%= f.submit "Submit your creation", class: "btn btn-secondary" %>
          <% else @challenge.category == "Crafting" %>
            <%= f.submit "Let's see what you made", class: "btn btn-secondary" %>
          <% end %>
      <% end %>
  </div>
</div>
