<%= bootstrap_form_for(@user) do |f| %>
  <div data-controller="preferences">
    <div class="row">
      <div class="col-sm-6">
        <div class="card my-2">
          <div class="card-body">
            <h3>
              <%= f.form_group :length_preference, label: { text: "What type of creative challenges would you like?" } do %>
              <%= f.radio_button :length_preference, 6, label: "6 minutes" %>
              <%= f.radio_button :length_preference, 14, label: "14 minutes" %>
              <%= f.radio_button :length_preference, 32, label: "32 minutes" %>
            <% end %>
            </h3>
          </div>
          <span class="text-center" data-action="click->preferences#loadCategory"><h1><i class="fa-solid fa-circle-check"></i></h1></span>
        </div>
      </div>

      <div class="col-sm-6 d-none" data-preferences-target="category">
        <div class="card my-2">
          <div class="card-body">
            <h3>
            <%= f.form_group :category_preference, label: { text: "What type of creative challenges would you like?" } do %>
              <%= f.radio_button :category_preference, "Crafting", label: "Crafting" %>
              <%= f.radio_button :category_preference, "Creative Writing", label: "Creative Writing" %>
              <%= f.radio_button :category_preference, "Creative Lesson", label: "Creative Lesson" %>
            <% end %>
            </h3>
          </div>
          <span class="text-center" data-action="click->preferences#loadUpdate"><h1><i class="fa-solid fa-circle-check"></i></h1></span>
        </div>
      </div>
    </div>
    <div class="text-center d-none" data-preferences-target="update">
      <%= f.submit "User Update", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
