<% if @daily_challenge %>
  <div class="challenge-banner text-sm-center d-flex align-items-end">
    <div class="ms-4">
      <h1><strong>Your Creative Boost <br>is Served</strong></h1>

      <div>
        <div class="my-4">
          <%= link_to current_user.category_preference, edit_user_path(current_user), class: "preference-button btn rounded-pill" %>
          <%= link_to "#{current_user.length_preference} mins" , edit_user_path(current_user), class: "preference-button btn rounded-pill" %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="my-5">
      <h1>
        <strong>
          We love a good<br>
          <%=@daily_challenge.name%>
        </strong>
      </h1>
    </div>

    <div class="my-5">
      <h4><strong>Description</strong></h4>
      <%=@daily_challenge.description %>
    </div>

    <div class="my-4">
      <h5><strong>Spicy Push <i class="fa-solid fa-caret-down fa-xl mx-3"></i></strong></h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>

    <div class="my-5">
      <p><i class="fa-regular fa-heart me-2"></i>Most favourited challenge this week</p>
      <p><i class="fa-solid fa-fire-flame-curved me-2"></i>This challenge has been completed by your friend NAME</p>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto my-4">
      <%= link_to "Time to Create!", new_challenge_user_challenge_path(@daily_challenge), class: "show-button btn btn-lg rounded-pill"%>
    </div>
  </div>

<% else %>
  <p>No more challenges available for this category/time.</p>
<% end %>
