<div class="col-12 smaller-banner d-flex flex-column justify-content-end py-3">
  <div class="container">
    <h1>Dashboard</h1>
  </div>
</div>

<div class="container d-flex flex-column align-items-center">

  <div class="preferences mt-5 text-center">
    <h4 class="mb-3">Set Your Preferences:</h4>
      <% if current_user.length_preference == nil || current_user.category_preference == nil %>
        <div class="my-4">
          <%= link_to "Set Preferences", edit_user_path(current_user), class: "preference-button btn rounded-pill" %>
        </div>
      <% else %>
        <%= render "shared/preference_buttons" %>
      <% end %>
  </div>

  <div class="learning-track mt-5">
    <h4 class="mb-3 text-center">Your learning track</h4>
    <div class="d-flex flex-column align-items-center">
      <% @last_2_challenges.each do |challenge| %>
        <%= link_to "/completed_challenges/#{challenge.id}" do %>
          <div class="card text-bg-primary my-3 rounded-5" style="width: 100%; height: 10rem;">
            <div class="container py-2 d-flex flex-column justify-content-between" style="height: 100%;">
              <div class="card-body"></div>
              <div class="border border-black p-1 rounded-5">
                <%= challenge.challenge.name.titleize %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= link_to "Review all past challenges...", user_challenges_path %>
  </div>

</div>
