<div class="container text-center">
  <h1 class="my-4">
    Morning<br>
    Burrito
  </h1>

  <div class="p-3"></div>
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

  <div class="p-3"></div>

  <p>
    Lorem ipsum dolor sit amet
    Lorem ipsum dolor sit amet,<br>
    consectetur adipiscing elit, sed do <br>
    eiusmod tempor incididunt ut <br>
    labore et dolore magna aliqua.
  </p>

  <div class="d-grid gap-2 d-md-block my-4">
    <% if user_signed_in? %>
      <% if current_user.length_preference == nil || current_user.category_preference == nil %>
        <%= link_to "Set your challenge preferences", edit_user_path(current_user), class: "show-button btn btn-lg rounded-pill" %>
      <% else %>
        <%= link_to "Go to your Daily Challenge", daily_challenge_path, class: "show-button btn btn-lg rounded-pill" %>
      <% end %>
    <% else %>
      <%= link_to "Get Started", new_user_registration_path, class: "btn show-button btn-lg rounded-pill" %>
      <%= link_to "I already have an account", new_user_session_path, class: "show-button btn btn-lg rounded-pill" %>
    <% end %>
  </div>
</div>
